body {
    font-family: Arial;
    text-align: center;
    background: #faf8ef;
	touch-action: none;
}

hr {
  widows: 500px;
  background-color: #bbada0;
}

#board {
  width: 400px;
  height: 400px; 
  background-color: #cdc1b5;
  border: 6px solid #bbada0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.title {
	color: #5C6AC4;
}

.tile{
  width: 90px;
  height: 90px;
  border: 5px solid #bbada0;
  font-size: 40px; 
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
    color: white;
}

.x16{
    background-color: #f59575;
    color: white;
}

.x32{
    background-color: #f57c5f;
    color: white;
}

.x64{
    background-color: #f65d3b;
    color: white;
}

.x128{
    background-color: #edce71;
    color: white;
}

.x256{
    background-color: #edcc63;
    color: white;
}

.x512{
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #ecc230;
    color: white;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}

.top-bar {
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.paused #board{
	opacity: 0.5; 
	pointer-events: none;
}




nav {
    margin: 20px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

form {
    margin-top: 20px;
}

input, textarea {
    width: 250px;
    padding: 8px;
}

textarea {
    height: 100px;
}

button {
    background: #8f7a66;
    color: white;
    border: none;
    padding: 10px 20px;

}
